h1{
    color:white;background:gray; 
}
h2{color:gray;font-size:150%;font-family:cursive}
#outro{color:red;background:black;font-size:130%}
#intro{color:white;background:gray;font-size:130%;font-style:oblique;text-align: center}